.item {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}


.itemInfo :is(a, time, address, p) {
  font-family: Sans-Serif;
  font-size: 1rem;
  font-style: normal;
  color: #242424;
}

.itemInfo a {
  text-decoration: none;
}

.itemInfo p {
  font-size: 1.125rem;
  font-weight: 500;
}